@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------common style------------- */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hoverScale {
}
.hoverScale:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* ------------nav bar----------- */
.linkHover {
  position: relative;
  transition: all 0.3s ease-out;
  color: #f5efe7;
  cursor: pointer;
}

.linkHover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; /* Start with no width */
  height: 2px; /* The desired border height */
  background-color: #f5efe7; /* Border color */
  transition: width 0.3s ease-out; /* Smooth transition for width */
}

/* .linkHover:hover {
  cursor: pointer;
  color: #f5efe7;
}

.linkHover:hover::after {
  width: 100%; /* Expands the border to full width on hover 
} 
*/

/* ------------------- */
/* common styles  */
.box {
  height: 85px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #edff00;
  border-radius: 20px;
  transition: transform 0.5s ease-out;
}
.box:hover {
  transform: translateY(-10px);
  cursor: default;
}

.buttons {
  height: 44px;
  padding: 0px 20px;
  background-color: #f5efe7;
  color: black;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}
.buttons:hover {
  background-color: rgb(0, 163, 0);
  color: white;
  cursor: pointer;
}

/* ----------end-------- */

.animateImage {
  animation: ImageAnimation 2s ease-in-out infinite alternate;
}
@keyframes ImageAnimation {
  0% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

/* -----------start--------- */
/* this is for home page color wave  */
.dot {
  background-color: white;
  animation: waveColor 2s ease-in-out infinite alternate;
}

/* Wave-like color animation */
@keyframes waveColor {
  0% {
    background-color: rgb(251, 255, 0);
  }
  50% {
    background-color: #ff0000; /* Bright green */
  }
  100% {
    background-color: #ffd3d3;
  }
}

/* Staggering the animations with delays */
.dot:nth-child(1) {
  animation-delay: 0s;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
}
.dot:nth-child(3) {
  animation-delay: 0.4s;
}
.dot:nth-child(4) {
  animation-delay: 0.6s;
}
.dot:nth-child(5) {
  animation-delay: 0.8s;
}
.dot:nth-child(6) {
  animation-delay: 1s;
}
.dot:nth-child(7) {
  animation-delay: 1.2s;
}
.dot:nth-child(8) {
  animation-delay: 1.4s;
}
.dot:nth-child(9) {
  animation-delay: 1.6s;
}
.dot:nth-child(10) {
  animation-delay: 1.8s;
}
.dot:nth-child(11) {
  animation-delay: 2s;
}
.dot:nth-child(12) {
  animation-delay: 2.2s;
}
/* ---------end-------- */

/* google font  */
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", serif;
  font-weight: 900;
  font-style: normal;
}

/* ---------acheivement------- */
.acheivementSmallBox {
  width: 92%;
  height: 360px;
  padding: 20px;
  border-radius: 30px;
  background: linear-gradient(90deg, #112749, #05090f);
  border-top: 1px solid #fb7500;
  border-bottom: 1px solid #fb7500;
  /* background-color: #112749; */
  overflow: hidden;
  position: relative;
}

.acheivementSmallBox::before {
  content: "";
  height: 100%;
  width: 0%;
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: #112749;
  /* background: linear-gradient(90deg, #112749, #05090f); */
  transition: all 0.8s ease-out;
  z-index: 1;
}
.acheivementSmallBox:hover::before {
  width: 100%;
  border-top: 1px solid #fbf700;
  border-bottom: 1px solid #fb7500;
  border-radius: 30px;
}

/* -----------projects---------- */
.projectSmallBox {
  width: 600px;
  height: 250px;
  border-radius: 30px;
  background-color: #112749;
  border: 1px solid #fb7500;
  overflow: hidden;
  position: relative;
}
.projectSmallBox::before {
  content: "";
  width: 605px;
  height: 285px;

  position: absolute;
  top: 0px;
  right: -0px;
  /* z-index: -1; */
}

/* .projectSmallBox:nth-child(1) {
  background: linear-gradient(180deg, #fb0049, #d7003d);
}
.projectSmallBox:nth-child(2) {
  background: linear-gradient(180deg, #e8d5ff, #c8aee7);
}
.projectSmallBox:nth-child(3) {
  background: linear-gradient(180deg, #e8d5ff, #c8aee7);
}
.projectSmallBox:nth-child(4) {
  background: linear-gradient(180deg, #fb7500, #c75d00);
} */
.button2 {
  width: 45px;
  height: 45px;
  /* border: 1px solid #213555; */
  border-radius: 100%;
  color: white;
  background-color: #060606;
  transition: all 0.3s ease;
}
.button2:hover {
  transform: scale(1.1);
  cursor: pointer;
  box-shadow: 0px 0px 5px white;
}

/* --------skills---------- */

.motionBox {
  height: 170px;
  min-width: 135px;
  background-color: #213555;
  border-radius: 20px;
  border: 1px solid white;
  box-shadow: 0px 0px 6px white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: -15%;
  /* animation: motionAllBoxsRightToLeft 28s linear infinite; */
  animation: motionAllBoxsRightToLeft 28s linear infinite,
    upDownMoveMotion 3s linear infinite alternate;
}

@keyframes motionAllBoxsRightToLeft {
  0% {
    right: -10%;
  }
  100% {
    right: 100%;
  }
}
@keyframes upDownMoveMotion {
  0% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.motionBox:nth-child(1) {
  animation-delay: 0s;
}
.motionBox:nth-child(2) {
  animation-delay: 4s;
}
.motionBox:nth-child(3) {
  animation-delay: 8s;
}
.motionBox:nth-child(4) {
  animation-delay: 12s;
}
.motionBox:nth-child(5) {
  animation-delay: 16s;
}
.motionBox:nth-child(6) {
  animation-delay: 20s;
}
.motionBox:nth-child(7) {
  animation-delay: 24s;
}
.motionBox:nth-child(8) {
  animation-delay: 24s;
}
.motionBox:nth-child(9) {
  animation-delay: 28s;
}

.skillMainBox {
  height: 470px;
  width: 375px;
  background-color: #fffce7;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.skillSmallBox {
  height: 100%; /* h-[75%] */
  width: 100%;
  font-family: "Poppins", sans-serif; /* poppins-bold */
  font-weight: bold; /* Equivalent to bold text */
  color: #213555; /* text-[#213555] */
  background-color: #ffec58; /* bg-[#FFEC58] */
  font-size: 1.5rem; /* text-2xl (2xl = 1.5rem) */
  border-top-left-radius: 40px; /* rounded-tl-[40px] */
  border-top-right-radius: 40px; /* rounded-tr-[40px] */
  padding-left: 1.5rem; /* pl-6 (6 = 1.5rem) */
  padding-top: 2rem; /* pt-8 (8 = 2rem) */
  display: flex; /* flex */
  flex-direction: column; /* flex-col */
  gap: 0.75rem; /* gap-3 (3 = 0.75rem) */
  transition: all 0.5s ease-in-out 0.3s;
  position: absolute;
  top: 25%;
  left: 0%;
}
.upWhenHover {
  border-radius: 20px;
  position: absolute;
  top: 0%;
  height: 100%;
  width: 100%;
}
